@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*********************************************************************************
*******************************			HEADER 			**********************************
**********************************************************************************/

.header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 977px;
	&__top {
		padding: 60px 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		&-list {
			li {
				display: inline-block;
				&:hover {
					a {
						color: #dadada;
					}
				}
				a {
					color: #fff;
					text-transform: uppercase;
					font-size: 20px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					transition: all .3s;
				}
				& + li {
					margin-left: 60px;
				}
			}
		}
	}
	&__content {
		color: #fff;
		&-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 821px;
		}
	}
	&__item {
		max-width: 685px;
	}
	&__suptitle {
		font-size: 30px;
		font-family: 'Playfair Display', serif;
		margin-bottom: 20px;
	}
	&__title {
		font-size: 55px;
		line-height: 74px;
		text-transform: uppercase;
		font-weight: 900;
		margin-bottom: 20px;
		font-family: 'Montserrat', sans-serif;
	}
	&__text {
		margin-bottom: 40px;
	}
	&__link {
		a {
			padding: 9px 55px 9px 30px;
			height: 42px;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: $btn-color;
			background-color: #fff;
			border-radius: 21px;
			position: relative;
			&::after {
				content: "\f178";
				position: absolute;
				font-family: "icomoon";
				right: 25px;
			}
		}
	}
}

/*********************************************************************************
*******************************			SECTION 			********************************
**********************************************************************************/

.services {
	min-height: 440px;
	position: relative;
	&__wrapper {
		max-width: 1140px;
		position: absolute;
		top: -80px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		max-width: 360px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 495px;
		padding: 110px 0 25px;
		position: relative;
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			bottom: -30px;
			right: -30px;
			width: 183px;
			height: 177px;
			background-image: url(../img/icons/services-icon.png);
			background-repeat: no-repeat;
		}
		&-title {
			padding: 0 35px;
			font-size: 20px;
			line-height: 35px;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		&-text {
			color: #fff;
			padding: 0 35px;
			text-align: justify;
		}
	}
	&__btn {
		position: absolute;
		bottom: 25px;
		left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&__items {
		padding: 100px 30px 0;
		background-color: #fff;
		box-shadow: 0px 4px 35px 0px rgba(218, 218, 218, 0.77);
		&-inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__item {
		max-width: 335px;
		width: 100%;
		padding: 10px 10px 10px 75px;
		margin-bottom: 40px;
		min-height: 10px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			background-repeat: no-repeat;
			background-position: top center;
			width: 47px;
			height: 64px;
		}
		&.expert {
			&::before {
				background-image: url(../img/icons/services-item-icon-1.png);
			}
		}
		&.solution {
			&::before {
				background-image: url(../img/icons/services-item-icon-2.png);
			}
		}
		&.creative {
			&::before {
				background-image: url(../img/icons/services-item-icon-3.png);
			}
		}
		&.support {
			&::before {
				background-image: url(../img/icons/services-item-icon-4.png);
			}
		}
		&-title {
			font-size: 18px;
			color: #404040;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
	}
}


/*********************************************************************************
*******************************			VALUES 			**********************************
**********************************************************************************/

.values {
	background-repeat: no-repeat;
	background-position: top right;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__image {
		max-width: 775px;
		width: 100%;
		position: relative;
		min-height: 740px;
		height: 100%;
		img {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	&__content {
		max-width: 1145px;
		width: 100%;
		padding-top: 100px;
		&-title {
			font-size: 22px;
			color: $title;
			margin-bottom: 30px;
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
		&-wrapper {
			background-position: bottom right;
			min-height: 100%;
		}
		&-text {
			color: $btn-color;
			margin-bottom: 60px;
			max-width: 720px;
		}
		&-circle {
			width: 720px;
			min-height: 350px;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
		}
		&-item {
			width: 200px;
			padding-top: 40px;
			position: relative;
			&--title {
				font-size: 26px;
				color: $bg;
			}
			&--text {
				font-size: 12px;
			}
			&--wrapper {
				position: absolute;
				&.values__content-item--1 {
					top: 20px;
					left: 105px;
					font-family: "Muli", sans-serif;
					font-size: 40px;
					color: $bg;
				}
				&.values__content-item--2 {
					top: 60px;
					left: 0;
					.values__content-item {
						&::before {
							left: 93px;
						}
						&::after {
							left: 110px;
						}
					}
				}
				&.values__content-item--3 {
					top: 90px;
					left: 350px;
				}
				&.values__content-item--4 {
					top: 140px;
					left: 525px;
					.values__content-item {
						&::before {
							left: 93px;
						}
						&::after {
							left: -25px;
							width: 120px;
						}
					}
				}
				&.values__content-item--5 {
					top: 255px;
					left: 130px;
					.values__content-item {
						&::before {
							left: 50px;
						}
						&::after {
							left: 65px;
							width: 75px;
						}
					}
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 18px;
				height: 18px;
				background-color: #00c4b1;
				border: solid 3px $bg;
				border-radius: 50%;
			}
			&::after {
				content: "";
				position: absolute;
				height: 1px;
				width: 140px;
				background-color: rgba($bg, .9);
				top: 8px;
				left: 0;
			}
		}
	}
}

/*********************************************************************************
*******************************			EXPERTS 			********************************
**********************************************************************************/

.experts {
	padding: 130px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	&__title {
		font-size: 40px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__text {
		max-width: 760px;
		margin: 0 auto 40px;
	}
	&__links {
		a {
			width: 196px;
			color: #fff;
			height: 51px;
			text-align: center;
			line-height: 47px;
			border-radius: 25px;
			border: solid 2px #fff;
			font-size: 18px;
			transition: all .3s;
			&:hover {
				background-color: #fff;
				color: $bg;
			}
			& + a {
				margin-left: 35px;
			}
		}
	}
}

/*********************************************************************************
*******************************			CORE 			************************************
**********************************************************************************/

.core {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 140px 0 50px;
	&__title {
		text-align: center;
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: $title;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	&__text {
		text-align: center;
		margin-bottom: 50px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 350px;
		padding-left: 65px;
		margin-bottom: 50px;
		position: relative;
		&.audit {
			&::before {
				background-image: url(../img/icons/core-item-1.png);
			}
		}
		&.business {
			&::before {
				background-image: url(../img/icons/core-item-2.png);
			}
		}
		&.planing {
			&::before {
				background-image: url(../img/icons/core-item-3.png);
			}
		}
		&.it {
			&::before {
				background-image: url(../img/icons/core-item-4.png);
			}
		}
		&.tax {
			&::before {
				background-image: url(../img/icons/core-item-5.png);
			}
		}
		&.advisory {
			&::before {
				background-image: url(../img/icons/core-item-6.png);
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 54px;
			height: 54px;
			background-position: top left;
			background-repeat: no-repeat;
		}
		&-title {
			font-size: 18px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: #404040;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
	}
}

/*********************************************************************************
*******************************			DIFFERENT 			******************************
**********************************************************************************/

.different {
	padding: 80px 0 120px;
	&__title {
		text-align: center;
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: $title;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	&__text {
		text-align: center;
		margin-bottom: 120px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__inner {
		max-width: 312px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -90px;
		margin: 0 auto;
		padding: 1px;
		background: linear-gradient(to bottom, rgba(217,217,217,1) 0%, rgba(217,217,217,1) 60%, transparent 100%);
	}
	&__content {
		max-width: 310px;
		background-color: #fff;
		padding: 25px 22px;
	}
	&__item {
		max-width: 360px;
		width: 100%;
		min-height: 235px;
		margin-bottom: 115px;
		cursor: pointer;
		position: relative;
		&:hover {
			.different__item-title {
				color: $bg;
			}
		}
		&-title {
			font-size: 17px;
			color: $title;
			margin-bottom: 5px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			transition: all .3s;
		}
		&-subtitle {
			font-size: 12px;
			color: $title;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			margin-bottom: 15px;
		}
		&-text {
			font-size: 13px;
		}
	}
}

/*********************************************************************************
*******************************			CHECK 			**********************************
**********************************************************************************/

.check {
	padding: 40px 0;
	background-color: $bg;
	&__link {
		text-align: center;
		color: #fff;
		position: relative;
		&::before {
			content: "\f099";
			position: absolute;
			font-family: "icomoon";
			left: 150px;
			font-size: 35px;
		}
		a {
			color: #fff;
			&:hover {
				color: #dadada;
			}
		}
	}
}

/*********************************************************************************
*******************************			FOOTER 			**********************************
**********************************************************************************/

.footer {
	&__content {
		background-color: #313131;
		padding: 75px 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__news {
		max-width: 265px;
		width: 100%;
		&-item {
			display: flex;
			& + .footer__news-item {
				margin-top: 45px;
			}
		}
		&-image {
			margin-right: 25px;
			width: 63px;
			height: 63px;
		}
		&-title {
			font-size: 13px;
			color: #fff;
			line-height: 20px;
		}
		&-date {
			font-size: 10px;
			color: #6b6b6b;
		}
	}
	&__title {
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		margin-bottom: 35px;
		color: #fff;
		text-transform: uppercase;
	}
	&__links {
		font-size: 13px;
		color: #969595;
	}
	&__list {
		column-count: 2;
		column-gap: 40px;
		li {
			a {
				transition: all .3s;
			}
			padding-right: 20px;
			margin-bottom: 10px;
			&:hover {
				a {
					color: #fff;
				}
			}
		}
	}
	&__mailing {
		max-width: 265px;
		width: 100%;
		&-text {
			font-size: 13px;
			line-height: 22px;
			color: $grey;
			margin-bottom: 15px;
		}
		&-form {
			form {
				position: relative;
				margin-bottom: 10px;
				input {
					height: 33px;
					width: 220px;
					padding: 0 20px;
					border: none;
					background-color: #fff;
					&:placeholder {
						color: $grey;
						font-size: 13px;
					}
				}
				button {
					position: absolute;
					top: 0;
					right: 0;
					color: #fff;
					height: 33px;
					width: 38px;
					background-color: $bg;
					border: none;
					cursor: pointer;
				}
			}
			span {
				font-size: 12px;
				color: #6b6b6b;
				margin-bottom: 45px;
				display: block;
			}
		}
		&-social {
			display: flex;
			justify-content: space-between;
			li {
				width: 36px;
				height: 33px;
				background-color: #2e2e2e;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				cursor: pointer;
				transition: all .3s;
				a {
					transition: all .3s;
				}
				&:hover {
					background-color: #31aae2;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	&__about {
		max-width: 260px;
		width: 100%;
		&-text {
			font-size: 13px;
			line-height: 22px;
			color: $grey;
			margin-bottom: 10px;
		}
		&-email {
			&::before {
				content: "\f003";
			}
		}
		&-phone {
			&::before {
				content: "\f095";
			}
		}
		&-address {
			&::before {
				content: "\f041";
			}
		}
		a {
			display: block;
			width: 100%;
			padding: 10px 25px;
			border-top: solid 1px #3c3c3c;
			position: relative;
			transition: all .3s;
			&:hover {
				color: #fff;
			}
			&::before {
				position: absolute;
				font-size: 16px;
				color: #4a4a4a;
				font-family: "icomoon";
				left: 0;
			}
		}
	}
	&__menu {
		padding: 25px 0;
		background-color: #292929;
		&-inner {
			display: flex;
			justify-content: flex-end;
		}
		&-list {
			li {
				display: inline-block;
				&:hover {
					a {
						color: #fff;
					}
				}
				a {
					color: #6b6b6b;
					transition: all .3s;
				}
				& + li {
					margin-left: 25px;
				}
			}
		}
	}
}



@import "media";
